@page "/"

<PageTitle>Team 3</PageTitle>
<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="card-title">Team 3</h1>
        <h3 class="card-subtitle mb-2 text-body-secondary">Team Name: LifeCycle</h3>
        <p class="card-text">eBikes Online System</p>
    </div>
</div>

<div class="row my-3">
    <div class="col-auto">
        <img style="width: 400px" class="img-thumbnail rounded shadow-sm" src="../img/LifeCycle.png" alt="Bike standing in front of a black wall" />
    </div>
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <div class="fs-4 mt-5 mb-5">Alan Palavecino: <a class="text-decoration-none" href="/Sales/Index">Sales</a></div>
                <div class="fs-4 mb-5">Kierin Wanless: <a class="text-decoration-none" href="/servicing">Servicing</a></div>
                <div class="fs-4 mb-5">Lucas Hashimoto: <a class="text-decoration-none" href="/receiving">Receiving</a></div>
                <div class="fs-4 mb-4">Marina Riad: <a class="text-decoration-none" href="/purchasing">Purchasing</a></div>
            </div>
        </div>
    </div>
</div>


<footer class="card shadow-sm">
    <p class="card-body my-1">Copyright &copy;2023 - Team 3 - eBike</p>
</footer>
